body{
    background-color: cornflowerblue;
    font-family: sans-serif;
    
}

input{
    margin: 5px;
}

#inloggad{
    padding-top: 20px;
}

#fel{
    background-color: black;
    color: orange;  
    text-align: center;
    line-height: 30px;
    padding: 10px;
}

#knapp{
    padding-top: 30px;
    padding-left: 50px;
}